body, html, #root, .App {
    height: 100%;
}

.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

img {
    height: 165px;
    width: 165px;
    margin: 0.5em;
    border: 0.5em solid ghostwhite;
    box-shadow: 0.15em 0.15em 0.25em #3d3d3d;
}

section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em;
    border: 0.25em solid #d3d3d3;
    padding: 2em 0;
    border-radius: 1em;
    background: whitesmoke;
    box-shadow: 0.25em 0.25em 0.5em #3d3d3d,
                -0.15em -0.15em 0.25em #d3d3d3;
}

div {
    display: flex;
}

fieldset,
form {
    display: flex;
    flex-direction: column;
}

input,
select {
    margin: 0.5em 0 1em;
}